@model PhotoSharingApp.Model.Photo

<div>

    <hr />

    @if (Model.photoFile != null)
    {
        <div>
            <img width="800" src="@Url.Action("GetImage", "Photo",
                                           new { id=Model.photoID })" />
        </div>

    }

    <h3 style="border-bottom:2px solid #808080"><strong>Details</strong></h3>


    <table>
        <tr>
            <td>
                <strong> @Html.DisplayNameFor(model => model.title)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.title)
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayNameFor(model => model.photoFile)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.photoFile)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.description)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.description)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.createdDate)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.createdDate)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.owner)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.owner)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.imageMimeType)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.imageMimeType)
            </td>
        </tr>
    </table>
    <div>

        <h3 style="border-bottom:2px solid #808080"><strong>Comments</strong></h3>
        @Html.Action("_CommentsList", "Comment", new { number = 2 })

    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.photoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

