@model IEnumerable<PhotoSharingApp.Model.Photo>
@foreach (var item in Model)
{
    <h3>"@item.title"</h3>
    if (item.photoFile != null)
    {
        <img width="200" src="@Url.Action("GetImage", "Photo", new { id = item.photoID })" />

    }

    <p>
        Created By:
        @Html.DisplayFor(model => item.owner)
    </p>
    <p>
        Created On:
        @Html.DisplayFor(model => item.createdDate)
    </p>
    @Html.ActionLink("Display", "Display",new { id = item.photoID })


}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_PhotoGallery</title>
</head>
<body>
    <div>
    </div>
</body>
</html>